/* ===============================
   ASIDE
=============================== */

.sidebar {
  display: none;
  min-width: 15rem; // 180px -> 18rem
  width: 20%;
  background-color: $bg-color-secondary;
  padding: 2rem 2rem 0.5rem 2rem;
  border-radius: 1rem; // 10px -> 1rem
  height: 100%;

  h2 {
    margin-top: 0;
    color: $primary-color;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 2rem;
  }

  a {
    &:hover,
    &.active {
      color: $primary-color;
    }
  }

  @include tablet {
    display: block;
  }

  @include desktop {
    min-width: 18rem;
  }
}
