/* ===============================
   LAYOUT
=============================== */
@use 'mixins' as *;

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 5%;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;

  @include tablet {
    padding: 2rem 0;
  }

  @include desktop {
    padding: 2rem 5%;
  }
}
