// ===============================
// VARIABLES GLOBALES SCSS
// ===============================

// Couleurs
$primary-color: #3498db;
$primary-color-darked: #2980b9;
$secondary-color: #2ecc71;
$secondary-color-darked: #25A158;
$danger-color: #de4838;
$danger-color-darked: #B0392C;
$text-color: #333;
$bg-color: #f8f9fa;
$bg-color-secondary: #f1f3f5;
$active-color: #e9ecef;
$disabled-color: #a0a0a0;
$message-received-color: rgba(52, 152, 219, 0.3);
$message-sent-color: rgba(46, 204, 113, 0.3);

// Font sizes
$font-size-logo: 3rem;
$font-size-nav-sm: 2.4rem;
$font-size-nav-md: 1.6rem;
$font-size-nav-lg: 2rem;
$font-size-h1-sm: 3.2rem;
$font-size-h1-lg: 4rem;
$font-size-h2-sm: 2.6rem;
$font-size-h2-lg: 3.2rem;
$font-size-h3-sm: 2rem;
$font-size-h3-lg: 2.4rem;
$font-size-h2-sm-dialog: 2rem;
$font-size-h3-sm-dialog: 1.4rem;
$font-size-text-sm-dialog: 1rem;
$font-size-body-sm: 1.4rem;
$font-size-body-md: 1.6rem;
$font-size-body-lg: 1.8rem;
$font-size-table-sm: 1rem;
$font-size-table-md: 1.2rem;
$font-size-table-lg: 1.4rem;

// Font weights
$font-weight-logo: 800;
$font-weight-icon-after: 700;
$font-weight-title: 600;
$font-weight-body: 400;
$font-weight-other: 500;