/* ===============================
   INITIAL LOADER
=============================== */


.initial-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  z-index: 2000;

  &.show {
    visibility: visible;
  }

  &.hide {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

.loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 30rem; // 300px -> 30rem
}

.title {
  font-size: $font-size-h1-lg;
  font-weight: $font-weight-title;
  letter-spacing: -0.3rem;
  word-spacing: -0.1rem;
  color: $primary-color;
  animation: twinkleParagraph 1.5s ease-in-out infinite;
}

.loading-bar {
  width: 100%;
  height: 1.2rem; // 12px -> 1.2rem
  border: 0.2rem solid $primary-color; // 2px -> 0.2rem
  border-radius: 0.6rem; // 6px -> 0.6rem
  overflow: hidden;
  background-color: transparent;
  animation: twinkleParagraph 1.5s ease-in-out infinite;
}

.progress {
  height: 100%;
  width: 0;
  background-color: $primary-color;
  animation: fillBar 2s linear forwards;
}

// Keyframes
@keyframes fillBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes twinkleParagraph {
  0% { opacity: 1; filter: brightness(1); }
  50% { opacity: 0.6; filter: brightness(1.5); }
  100% { opacity: 1; filter: brightness(1); }
}
