/* ===============================
   MODALS
=============================== */

.modal-page {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $bg-color;
  position: relative;
  margin: 0 auto;
  margin-top: 10%;
  padding: 2rem; // 20px -> 2rem
  border: 0.1rem solid $disabled-color; // 1px -> 0.1rem
  width: 80%;
  max-width: 60rem; // 600px -> 60rem
  border-radius: 1rem;
  max-height: 80%;
  overflow-y: auto;

  &.confirm-modal {
    margin-top: 20%;
  }

  .modal-text {
    margin-bottom: 2rem;
    text-align: center;
  }

  .modal-button-group {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  // Modale formulaire
  .form-container {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }

  .form-title {
    color: $primary-color;
    margin-bottom: 3rem;
  }

  // Scrollbar
  &::-webkit-scrollbar {
    width: 1.2rem; // 12px -> 1.2rem
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $disabled-color;
    border-radius: 1rem;
    border: 0.2rem solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color;
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.close-button {
  color: $disabled-color;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $primary-color;
    text-decoration: none;
    cursor: pointer;
  }
}

/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@include tablet {
  .modal-content {
    margin-top: 5%;
  }
}
