.admin-page {
  .content {
    width: 100%;

    @include tablet {
      width: 68%;
    }

    @include desktop {
      width: 70%;
    }
  }

  h2 {
    color: inherit;
  }

  .extra-title {
    margin-top: -1.5rem;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    @include desktop {
      flex-direction: row;
    }
  }
}

.page.admin-page {
    @include tablet {
    justify-content: space-between;
  }
}