/* ===============================
   DATATABLE
=============================== */

.table-container {
  width: 90%;
  padding: 2rem;
  background-color: $bg-color-secondary;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1); // 2px 5px -> 0.2rem 0.5rem
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  font-size: $font-size-table-sm;
  font-family: 'Poppins', sans-serif;
  color: $text-color;

  @include tablet {
font-size: $font-size-table-md;
  }

  @include desktop {
    font-size: $font-size-table-lg;
  }

  thead {
    background-color: $primary-color;
    color: white;
  }

  th,
  td {
    padding: 1rem;
    text-align: left;
    border-bottom: 0.1rem solid $active-color; // 1px -> 0.1rem
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5rem; // 50px -> 5rem

    @include tablet {
      max-width: 9rem; // 90px -> 9rem
    }

    @include desktop {
      max-width: 15rem; // 150px -> 15rem
    }
  }

  tbody td {
    padding: 0.5rem 1rem;
  }

  tbody {
    background-color: $bg-color;

    tr:hover {
      background-color: $active-color;
      cursor: pointer;
    }

    .no-data-table:hover {
      background-color: $bg-color;
      cursor: default;
    }
  }

  .actions {
    display: flex;
    gap: 1rem;
    width: 10rem; // 100px -> 10rem

    button {
      padding: 0.25rem 0;
    }

    @include desktop {
      display: flex;
      gap: 1rem;
      width: auto;

      button {
        padding: 0.75rem 2rem;
        width: auto;
      }
    }
  }
}