/* ===============================
   ARTICLE CARD
=============================== */


.article-card {
  position: relative;
  width: 100%;
  background: white;
  border-radius: 1.5rem; // 15px -> 1.5rem
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1); // 5px 15px -> 0.5rem 1.5rem
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-0.5rem); // -5px -> -0.5rem
  }

  .article-card-body {
    padding: 1.5rem;
  }

  .article-card-content {
    margin-bottom: 3.5rem;
  }

  a {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    color: $primary-color;
  }

  h3 {
    margin-top: 0;
    color: $primary-color;
  }
}

// DESKTOP VERSION
@media screen and (min-width: 1024px) {
  .article-card {
    width: 30%;
  }
}
