/* ===============================
   IMAGES / AVATARS / SLIDERS
=============================== */


.avatar {
  border: 0.2rem solid $primary-color; // 2px -> 0.2rem
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.slider-image {
  width: 100%;
  cursor: pointer;
  border-radius: 0.8rem;
}

.selected-slider-image {
  max-width: 90%;
  max-height: 90%;
}

.article-card-image {
  width: 100%;
  max-height: 80%;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

.card-image {
  width: 100%;
  max-height: 100%;
  border-radius: 0.6rem;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

// TABLET VERSION
@media screen and (min-width: 768px) {
  .card-image {
    min-width: 15rem;   // 150px -> 15rem
    max-width: 30rem;   // 300px -> 30rem
    width: 35%;
    max-height: 100%;
  }
}
